#
# This file is part of the LibreOffice project.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# This file incorporates work covered by the following license notice:
#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements. See the NOTICE file distributed
#   with this work for additional information regarding copyright
#   ownership. The ASF licenses this file to you under the Apache
#   License, Version 2.0 (the "License"); you may not use this file
#   except in compliance with the License. You may obtain a copy of
#   the License at http://www.apache.org/licenses/LICENSE-2.0 .
#
[Desktop Entry]
Version=1.0
Terminal=false
NoDisplay=true
Icon=base
Type=Application
Categories=Office;Database;X-Red-Hat-Base;
Exec=${UNIXBASISROOTNAME} --base %%FILE%%
MimeType=application/vnd.oasis.opendocument.base;application/vnd.sun.xml.base;
Name=%PRODUCTNAME Database
Name[zh_CN]=可圈office 数据库
GenericName=Database Manager
GenericName[zh_CN]=数据库管理
Comment=Organize tables, queries, forms, reports, and office databases.
Comment[zh_CN]=整理表、查询、表单、报表和办公数据库。
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Database;Data;Query;Form;Report;SQL;
Keywords[zh_CN]=数据库;数据;查询;表单;报表;SQL;
InitialPreference=5
StartupWMClass=%PREFIX-base
X-KDE-Protocols=file,http,webdav,webdavs

Actions=NewDocument;
[Desktop Action NewDocument]
UnityQuickList=New Database
UnityQuickList[zh_CN]=新建数据库
Icon=document-new
Exec=${UNIXBASISROOTNAME} --base
