#
# This file is part of the LibreOffice project.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# This file incorporates work covered by the following license notice:
#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements. See the NOTICE file distributed
#   with this work for additional information regarding copyright
#   ownership. The ASF licenses this file to you under the Apache
#   License, Version 2.0 (the "License"); you may not use this file
#   except in compliance with the License. You may obtain a copy of
#   the License at http://www.apache.org/licenses/LICENSE-2.0 .
#
[Desktop Entry]
Version=1.0
Terminal=false
NoDisplay=false
Icon=startcenter
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=${UNIXBASISROOTNAME} %%FILE%%
MimeType=application/vnd.openofficeorg.extension;x-scheme-handler/vnd.libreoffice.cmis;x-scheme-handler/vnd.sun.star.webdav;x-scheme-handler/vnd.sun.star.webdavs;x-scheme-handler/vnd.libreoffice.command;x-scheme-handler/ms-word;x-scheme-handler/ms-excel;
Name=%PRODUCTNAME
Name[zh_CN]=可圈office
GenericName=Office Suite
GenericName[zh_CN]=办公工作台
Comment=Open documents and sheets, and jump into common office tasks.
Comment[zh_CN]=打开文档和表格，并快速进入常用办公场景。
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Office;Workspace;Document;Sheet;Word;Excel;
Keywords[zh_CN]=办公;工作台;文档;表格;Word;Excel;
StartupWMClass=%PREFIX-startcenter
X-KDE-Protocols=file,http,webdav,webdavs

##Define Actions
Actions=Writer;Calc;

[Desktop Action Writer]
Name=Documents
Name[zh_CN]=文档
Exec=${UNIXBASISROOTNAME} --writer

[Desktop Action Calc]
Name=Sheets
Name[zh_CN]=表格
Exec=${UNIXBASISROOTNAME} --calc

##End of actions menu
